* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}
.main__infoContainer {
    padding: 2.5rem 2rem 0;
    width: 100%;
    background-color: #424874;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__infoContainer h1 {
    margin-block-end: 10px;
    font-size: 3.3rem;
}
.main__infoContainer p {
    text-align: center;
    width: 88%;
    font-size: 1.4rem;
    font-weight: 300;
}
.infoContainer__pricesTable {
    margin: 20px 0;
    width: 80%;
}
table {
    width: 100%;
}
td {
    background-color: #5D638F;
}
.itemsRow__title {
    height: 35px;
    font-size: 1.5rem;
    font-weight: 600;
}
.item--center {
    text-align: center;
    width: 1px;
}
.itemsRow__body {
    height: 20px;
    font-size: 1.1rem;
    font-weight: 300;
}
.item--padding {
    padding-inline-start: 10px;
}
.item--one {
    border-top-left-radius: 20px;
}
.item--two {
    border-top-right-radius: 20px;
}
.item--three {
    border-bottom-left-radius: 20px;
}
.item--four {
    border-bottom-right-radius: 20px;
}
.main__formContainer {
    padding: 20px 45px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
form label {
    padding-block-end: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
}
.form__inputDecoration {
    margin-block-end: 20px;
    padding: 10.3px 15px 0;
    width: 100%;
    height: 37px;
    border-radius: 100px;
    background-color: #DCD6F7;
}
.inputDecoration__input {
    width: 100%;
    border: none;
    background-color: #DCD6F7;
}
.inputDecoration__input:focus {
    outline: none;
}
.form__result {
    margin: 40px auto;
    padding: 10px 0;
    text-align: center;
    width: 120px;
    font-size: 4rem;
    font-weight: 600;
    background-color: #efedfb;
    border-radius: 10px;
}
.form__calculate {
    margin: 0 auto 30px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 100px;
    background-color: #424874;
    color: white;
    display: block;
}
footer a {
    margin-inline-start: 20px;
}
footer a img {
    width: 50px;
}