* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}
body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.container__Flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    padding-block-start: 4rem;
    padding-inline-start: 3.3rem;
}
header h1 {
    margin-block-end: 10px;
    font-size: 3rem;
}
header p {
    width: 53%;
    font-size: 1.6rem;
}
main {
    display: flex;
}
.main__logoContainer {
    margin-block-end: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.main__logoContainer a img {
    width: 70px;
}
.main__formContainer {
    padding: 3rem 0 2rem 3rem;
    width: 70%;
    height: 58rem;
    border-top-left-radius: 40px;
    background-color: #424874;
}
.form__selectContainer {
    margin-block-end: 20px;
    padding-inline-end: 23px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selectContainer__option {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #DCD6F7;
}
.selectContainer__option img {
    width: 30px;
}
.form__inputContainer {
    margin-inline-end: 22px;
    display: flex;
    align-items: center;
}
.form__inputContainer label {
    margin-inline-end: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}
.inputContainer__inputDecoration {
    padding: 6px 10px 0;
    width: 70%;
    height: 30px;
    border-radius: 100px;
    background-color: white;
}
.inputContainer__inputDecoration select {
    width: 100%;
    border: none;
}
.inputContainer__inputDecoration select:focus {
    outline: none;
}
.formContainer__dataEntry {
    margin-block-start: 10px;
    padding-inline-end: 20px;
    height: 25vh;
}
.formContainer__dataEntry label {
    margin-block-end: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}
.dataEntry__inputDecoration {
    margin-block-start: 5px;
    margin-block-end: 10px;
    padding: 7.2px 12px 0;
    width: 100%;
    height: 30px;
    border-radius: 100px;
    background-color: white;
}
.dataEntry__inputDecoration input {
    width: 100%;
    border: none;
}
.dataEntry__inputDecoration input:focus {
    outline: none;
}
.dataEntry__squareData {
    display: block;
}
.dataEntry__triangleData {
    display: none;
}
.dataEntry__circleData {
    display: none;
}
.formContainer__result {
    margin-block-start: 5rem;
    margin-block-end: 5rem;
    margin-inline-start: 5.3rem;
    padding-block-start: 3.3px;
    text-align: center;
    width: 100px;
    height: 55px;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: #52598f;
}
.formContainer__button {
    margin-inline-start: 5rem;
    width: 110px;
    height: 35px;
    color: #424874;
    border: none;
    border-radius: 100px;
}